<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informations</title>
</head>
<link rel="stylesheet" href="/style.css">

<body>
    <h2>Résumé de <%= data.user.name %> <%= data.user.prenom %> matricule <%= data.user.matricule %> pour l'année <%= data.year %></h2>
    <a href="/admin/home">retour à l'accueil</a>
    <a href="/admin/table">voir table</a>
    <button id="logout-button">Se déconnecter</button>

    <form action="/admin/singleUser" method="post">
        <select name="year" id="">
            <option value="">année</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>
        </select>
        <input type="text" name="user_id" value="<%= data.user.user_id %>" hidden>


        <input type="submit" value="filtrer">
    </form>

    <table class="move-table" border="1" >
        <thead>
            <tr>
                <th>date</th>
                <th>Montant</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%
                total_entre = 0
                data.movements.forEach(mouvement => { 
                    
                    total_entre = total_entre+mouvement.montant
            %>
                <tr>
                    <td><%= mouvement.date %></td>
                    <td><%= mouvement.montant %></td>
                    <td><a href="/admin/update/mouvement/<%= mouvement._id %>">modifier</a></td>
                </tr>
            <% }) %>
            <tr>
                <td><b>total</b></td>
                <td><%= total_entre %></td>
            </tr>
        </tbody>
    </table>
</body>
</html>

<script>
    document.getElementById('logout-button').addEventListener('click', function() {
        localStorage.removeItem('user_info');
        window.location.href = '/';
    });
</script>