<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste par mois</title>
</head>
<link rel="stylesheet" href="/style.css">


<body>
    <h1>
        <p id="prenom"> </p>
    </h1>
    
    <a href="/admin/view/insert/user">Ajouter membre</a>
    
    <a href="/insert/depense">Ajouter dépenses</a>
    <a href="/insert/annexe">Ajouter recette annexe</a>
    <a href="/admin/listUser">liste des membres</a>
    <a href="/admin/home">retour accueil</a>
    
    <button id="logout-button">Se déconnecter</button>
    
    
    
    <h2>Table des cotisations pour l' année <%= data.year %></h2>
    <form action="/admin/table" method="post" class="filter-form">
        <select name="year" id="">
            <option value="">année</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>
        </select>
        
        <input type="submit" value="filtrer">
    </form>
    <!-- <h3>Total des cotisations <%= situation.totalInput %>Ar</h3>
    <h3>Total des dépenses <%= situation.totalOutput %>Ar</h3> -->
    
    <center><div class="table-container"><table class="move-table" border="1">
        <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Matricule</th>
                <th>Janvier</th>
                <th>Février</th>
                <th>Mars</th>
                <th>Avril</th>
                <th>Mai</th>
                <th>Juin</th>
                <th>Juillet</th>
                <th>Août</th>
                <th>Septembre</th>
                <th>Octobre</th>
                <th>Novembre</th>
                <th>Décembre</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <% 
                total_per_month = [0,0,0,0,0,0,0,0,0,0,0,0]
                data.results.forEach(mouvement => { 
            %>
                <tr>
                    <td><a
                            href="/insert/mouvement/<%= mouvement.user_id %>/<%= mouvement.name %>/<%= mouvement.prenom %>">ajouter cotisation</a></td>
                    <td><a href="/admin/singleUser/<%= mouvement.user_id %>">
                            <%= mouvement.name %>
                        </a></td>
                    <td>
                        <%= mouvement.prenom %>
                    </td>
                    <td>
                        <%= mouvement.matricule %>
                    </td>
                    <% 
                        total_user = 0
                        mouvement.monthlyInputs.forEach(mvt => { 
                            total_user = total_user + mvt.total
                            total_per_month[mvt.month-1] = total_per_month[mvt.month-1] + mvt.total
                    %>
                        <% if(data.year < mouvement.last_year){ %>
                                <td style="background-color: rgba(126, 242, 118, 0.659);">
                                    <%= mvt.total %>
                                </td>
                            <% } else {%> 
                                <% if(mouvement.last_year == data.year){ %>
                                    <% if(mvt.month <= mouvement.last_month) { %>
                                        <td style="background-color: rgba(126, 242, 118, 0.659);">
                                            <%= mvt.total %>
                                        </td>
                                    <% } else { %>
                                        <td>
                                            <%= mvt.total %>
                                        </td>
                                    <% } %>
                                <% } else { %>
                                    <% if (mouvement.last_year < data.year){ %>
                                        <td>
                                            <%= mvt.total %>
                                        </td>
                                    <% } %>
                                <% } %>
                            <% } %>
                        
                        <% }); %>
                        
                        
                    <td>
                        <b><%= total_user %></b>
                    </td>
                </tr>
                <% }); %>
                <tr style="color: red;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Total</b></td>
                    <% 
                        total = 0
                        total_per_month.forEach(mvt => { 
                            total = total + mvt
                    %>
                        <td>
                            <b><%= mvt %></b>
                        </td>
                        <% }); %>
                    <td>
                        <b><%= total %></b>
                    </td>
        </tbody>
    </table></div></center>

    <input type="text" id="hiddenPrenom" name="prenom" hidden>
    <input type="text" id="hiddenId" name="user_id" hidden>
    
</body>

</html>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Vérifie si des données existent dans le localStorage
        if (localStorage.getItem('user_info')) {
            // Récupère les données du localStorage et les convertit en objet JavaScript
            var userData = JSON.parse(localStorage.getItem('user_info'));

            // Affiche les données dans la console
            console.log('Données utilisateur:', userData);

            // Ajoute les données à un champ hidden d'un formulaire avec l'ID "hiddenInput"
            document.getElementById('prenom').textContent = "Bienvenue " + userData.prenom;
            document.getElementById('hiddenPrenom').value = userData.prenom;
            document.getElementById('hiddenId').value = userData._id;
        }
        else {
            console.log('Aucune donnée utilisateur trouvée dans le localStorage.');
        }
    });

    document.getElementById('logout-button').addEventListener('click', function () {
        localStorage.removeItem('user_info');
        window.location.href = '/';
    });

</script>