<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informations</title>
</head>
<link rel="stylesheet" href="/style.css">


<body>
    <h2>SLBA "Miray hina" tongasoa</h2>
    <h2 id="user-info-text"></h2>
    <a id="guest-home-link">retour à l'accueil</a>
    <button id="logout-button">Se déconnecter</button>

    <center><table border="1" class="smaller-table">
        <thead>
            <tr>
                <th>Année</th>
                <th>Total cotisation</th>
                <th>Total recette annexe</th>
                <th>Total dépenses</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <% totalyear.forEach(total => { %>
                <tr>
                    <td>
                        <%= total.year %>
                    </td>
                    <td>
                        <%= total.totalInput %>
                    </td>
                    <td>
                        <%= total.totalAnnexe %>
                    <td>
                        <%= total.totalOutput %>
                    </td>
                    <td>
                        <%= total.totalInput-total.totalOutput %>
                </tr>
                <% }); %>
                <tr>
                    <td><h3>Total en Ar</h3></td>
                    <td><h3> <%= situation.totalInput %></h3></td>
                    <td><h3><%= situation.totalAnnexe %></h3></td>
                    <td><h3><%= situation.totalOutput %></h3></td>
                    <td><h3><%= (situation.totalInput+situation.totalAnnexe)-situation.totalOutput %></h3></td>
                </tr>
        </tbody>
    </table>
    </center>
    <h3>voici votre résumé pour l'année <%= data.year %></h3>
    <form action="/guest/home" method="post" class="filter-form">
        <select name="year" id="">
            <option value="">année</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>
        </select>
        <input type="text" name="user_id" id="hiddenId" hidden>


        <input type="submit" value="filtrer">
    </form>


    <center><div class="table-container"><table class="move-table" border="1">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Matricule</th>
                <th>Janvier</th>
                <th>Février</th>
                <th>Mars</th>
                <th>Avril</th>
                <th>Mai</th>
                <th>Juin</th>
                <th>Juillet</th>
                <th>Août</th>
                <th>Septembre</th>
                <th>Octobre</th>
                <th>Novembre</th>
                <th>Décembre</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    
                    <td>
                        <%= data.results.name %>
                    </td>
                    <td>
                        <%= data.results.prenom %>
                    </td>
                    <td>
                        <%= data.results.matricule %>
                    </td>
                    <% 
                         total_user = 0
                        data.results.monthlyInputs.forEach(mvt => { 
                            total_user = total_user + mvt.total
                    %>

                            <% if(data.year < data.results.last_year){ %>
                                <td style="background-color: rgba(126, 242, 118, 0.659);">
                                    <%= mvt.total %>
                                </td>
                            <% } else {%> 
                                <% if(data.results.last_year == data.year){ %>
                                    <% if(mvt.month <= data.results.last_month) { %>
                                        <td style="background-color: rgba(126, 242, 118, 0.659);">
                                            <%= mvt.total %>
                                        </td>
                                    <% } else { %>
                                        <td>
                                            <%= mvt.total %>
                                        </td>
                                    <% } %>
                                <% } else { %>
                                    <% if (data.results.last_year < data.year){ %>
                                        <td>
                                            <%= mvt.total %>
                                        </td>
                                    <% } %>
                                <% } %>
                            <% } %>
                        
                        <% }); %>
                    <td>
                        <b><%= total_user %></b>
                    </td>
                </tr>
                
        </tbody>
    </table></div></center>
</body>

</html>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Vérifie si des données existent dans le localStorage
        if (localStorage.getItem('user_info')) {
            // Récupère les données du localStorage et les convertit en objet JavaScript
            var userData = JSON.parse(localStorage.getItem('user_info'));

            // Affiche les données dans la console
            console.log('Données utilisateur:', userData);

            // Ajoute les données à un champ hidden d'un formulaire avec l'ID "hiddenInput"
            document.getElementById('user-info-text').textContent = "" + userData.name + " " + userData.prenom + " matricule " + userData.matricule;
            document.getElementById('hiddenId').value = userData._id;
            document.getElementById('guest-home-link').href = "/guest/home/" + userData._id;
        } else {
            console.log('Aucune donnée utilisateur trouvée dans le localStorage.');
        }
    });
    document.getElementById('logout-button').addEventListener('click', function () {
        localStorage.removeItem('user_info');
        window.location.href = '/';
    });

</script>